.userEtiquetteContainer{
    margin-left: 4rem;
    margin-top: 2rem;
}

.etiquetteTitle h3 {
    color: #00cc00;

<<<<<<< HEAD
}



/* =============== MEDIA QUERIES (EXTRA LARGE DEVICES) =============== */
@media screen and (max-width: 1350px) {

}

/* =============== MEDIA QUERIES (LARGE DEVICES) =============== */
@media screen and (max-width: 1245px){


}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1000px){


}


/* =============== MEDIA QUERIES (SMEDIUM DEVICES) =============== */
@media screen and (max-width: 800px){
    .userEtiquetteContainer{
        margin-left: 2rem;
    }

}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 640px){

}


/* =============== MEDIA QUERIES (EXTRA-SMALL DEVICES) =============== */
@media screen and (max-width: 450px){

     .userEtiquetteContainer{
        margin-left: 1rem;
    }


=======
>>>>>>> c8d208825f0cfc7c98b00ca54db87b520edc37d5
}