{% extends 'drink/index.html' %}
{% load static %}

{% block title %}
    DrinksAPI
{% endblock %}

{% block main %}
<main>
    <section class="about_section">
        <div class="container">
            <div class="aboutApiDataContainer">
                <div class="pageTitleContainer">
                    <h2>About DrinksAPI</h2>
                </div>

                <div class="aboutInfoContainer">
                    <div class="aboutDataContainer">
                        <div class="aboutDataTitle">
                            What's an API
                        </div>
                        <div class="aboutDataText">
                            <p>
                                <a href="https://en.wikipedia.org/wiki/API">Wikipedia</a>
                                 defines an application programming interface (API) as a way for two or more
                                computer programs or components to communicate with each other. It is a type
                                of software interface, offering a service to other pieces of software.[1]
                                A document or standard that describes how to build or use such a connection or
                                interface is called an API specification. A computer system that meets this
                                standard is said to implement or expose an API. The term API may refer either
                                to the specification or to the implementation. Whereas a system's user interface
                                dictates how its end-users interact with the system in question, its API dictates
                                how to write code that takes advantage of that system's capabilities.
                            </p>
                        </div>
                    </div>

                    <div class="aboutDataContainer">
                        <div class="aboutDataTitle">
                            What's the DrinksAPI About?
                        </div>
                        <div class="aboutDataText">
                            <p>
                                It's a project that started with a few entries to better understand API development.
                                Since retreiving and manipulating API data is a large part of web development,
                                I've made the DrinksAPI available to anyone that want's another data set to practice
                                on.
                            </p>
                        </div>
                    </div>

                    <div class="aboutDataContainer">
                        <div class="aboutDataTitle">
                            Whats the Technology Stack?
                        </div>
                        <div class="aboutDataText">
                            <ul>
                                <li>Python</li>
                                <li>Django</li>
                                <li>Django Rest Framework</li>
                                <li>Javascript</li>
                                <li>Postgres</li>
                                <li>Digital Ocean</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}>