{% extends 'drink/index.html' %}
{% load static %}

{% block title %}
    DrinksAPI
{% endblock %}

{% block main %}
<main>
    <section class="hero_section">
        <div class="container">
            <div class="inner_hero_section">
                <h1>DrinksAPI</h1>
                <h2>A Restful API for popular cocktails.</h2>
            </div>
        </div>
    </section>
    <section class="hero_sub_section">
        <div class="container">
            <div class="inner_hero__sub_section">
                <h3>With over 100 cocktails and recipies, the DrinksAPI provides another data set to help
                    aspiring developers learn to retrieve and manipulate API Data</h3>
            </div>
        </div>
    </section>
</main>

{% endblock %}