# testing
.coverage
/Users/paulblack/PycharmProjects/Projects/DrinkBook/htmlcov

# production

# misc
.env
/Users/paulblack/PycharmProjects/Projects/DrinkBook/drink_book/settings/.env
notes_and_todos.txt
.env