djangorestframework-simplejwt-5.3.1 pyjwt-2.8.0
django-cors-headers              4.2.0
Django                           4.2.5
coverage                         7.3.2
djangorestframework              3.14.0


//brew services restart rabbitmq