.hero_section {
    align-items: flex-start;
    background-color: var(--primary-background-color);
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.apiDataContainer{
    margin-top: 1rem;
}


.apiDataContainer {
    display: flex;
    height: 100vh;
    justify-content: space-between;


.apiDataContainer {
    display: flex;
    height: 100vh;
    justify-content: space-between;
     margin-top: 1rem;

}

.inner_hero_section{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;

    /*
    height: 100vh;
    justify-content: space-evenly;
    */
}

.fetchDrinkButton{
    background: var(--text-bg);
    background: var(--text-linear-gradient);

    color: var(--secondary-font-color);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .5rem;
    height: 2.5rem;
    width: clamp(5.5rem, 10rem, 16vw);

}

<<<<<<< HEAD
.fetchDrinkButton:active{
    transform: scale(0.98);

}

=======
>>>>>>> c8d208825f0cfc7c98b00ca54db87b520edc37d5
.openBrackets{
    color: white;
}


.postResults {

    background: black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 0 2rem 0;
    width: 42rem;


}



.outer_hero_section{

    align-items: center;
    color: var(--secondary-font-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 80vh;
    width: 50vh;
}

<<<<<<< HEAD
.api_description_p_container p{
    text-align: center;
}
=======
>>>>>>> c8d208825f0cfc7c98b00ca54db87b520edc37d5

.idBox{
      width: 95%; /*  You can set a fixed width or max-width if needed */
      max-width: 95%; /*  Ensures container doesn't overflow */
      overflow-y: auto; /*  Adds horizontal scrolling i */
;
      /*
              padding: .25rem 0 .25rem .50rem
        margin-bottom: 1rem;
        line-height: auto;
        border: 1px solid white;

        height: 1rem;
      */


      display: flex;
      flex-direction: row;
      height: fit-content;
}


.apiNameTitle{
    color: #00cc00;
    font-size: .80rem;
    height: 2rem;
}

.api_drink_name{
    color: #ffffff;
    font-size: .80rem;
    height: fit-content;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break:break-all;

}


.api_ingredient_list{
    /* color: #569ae8; */
    color: #ffffff;
    font-size: .80rem;
    height: fit-content;

}


.api_ingredient_list ul{
    height: fit-content;
    margin-top: -2rem;
}


.api_ingredient_list ul li{
    margin-top: -3.5rem;
    height: fit-content;
}


.api_mixing_directions{
    height: fit-content;
<<<<<<< HEAD
    margin-bottom: 1rem;
=======
>>>>>>> c8d208825f0cfc7c98b00ca54db87b520edc37d5
}


form#jsonForm {
    margin-bottom: 3rem;
}

<<<<<<< HEAD
.radioButtonContainer{
    width: 25rem;
    display: flex;
    justify-content: space-between;
}

=======
>>>>>>> c8d208825f0cfc7c98b00ca54db87b520edc37d5
.radioButtonContainer label{
    color: #00cc00;
}

.noDataAvailable{
    color: white;
}


.jsonTestSection{
    background: white;
    border: 2px solid #00cc00;
    border-radius: 5px;
    color: #000000;
    font-size: .80rem;
    height: auto;
    line-height: 17.9167px;
    margin: 2rem 0 2rem 0;
    padding: 1rem 1rem;
    width: 42rem;
<<<<<<< HEAD
}
=======


}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {

    .displayArea {
        overflow-x: scroll;
        width: 95%;
    }


}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {

    .inner_hero_section h2{
       text-align: center;

    }

    .form_container form{
        flex-direction: column;
        gap: .5rem;
    }

    .form_container form input {
        border-radius: 1.15rem 1.15rem 1.15rem 1.15rem;
        min-height: 2.50rem;
        width: clamp(15rem, 40rem, 90vw);
    }

    .demo_form_input_label {
        font-size: clamp(.25rem, 1.5rem, 4vw);
        margin-left: 1rem;
        margin-top: .75rem;

    }

    .displayContainer{
        margin-top: 3rem;
    }

    .displayArea {
        overflow-x: scroll;
        width: 95%;
    }

    .apiNameTitle {
        margin-left: .5rem;

    }

}

>>>>>>> c8d208825f0cfc7c98b00ca54db87b520edc37d5
