.about_section {
    background-color: var(--primary-background-color);
    display: flex;
    min-height: 100vh;
    justify-content: center;


}


.aboutApiDataContainer {
    min-height: 100vh;
}

.pageTitleContainer{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pageTitleContainer h2{
    background: var(--text-bg);
    background: var(--text-linear-gradient);
        -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    cursor: pointer;
    font-size: clamp(1.5rem, 2.25rem, 3.75vw);
    font-weight: 500;
    text-decoration: none;
}

.aboutInfoContainer{
    margin-top: 4rem;
}

.aboutDataContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.aboutDataTitle{
    color: #00cc00;
    font-size: clamp(1.25rem, 2rem, 3.5vw);
    margin-bottom: .5rem;

}

.aboutDataText a{
    color: #66b3ff;
}

.aboutDataText p{
    color: #ffffff;
    font-size: clamp(1rem, 1.5rem, 1.5vw);
    margin-bottom: 1rem;
}

.aboutDataText ul{
    padding-left: 1rem;
}

.aboutDataText ul li{
    color: #ffffff;
    font-size: clamp(1.1rem, 1.5rem, 1.5vw);
    list-style: circle;

}